.bioCardWraper{
    padding: 1rem;
    position: absolute;
    right: 3rem;
    top:12rem;
     width: fit-content;
     margin-top: auto;
     border-top: 1px solid rgb(34, 186, 224);
     border-left: 1px solid rgb(128, 0, 128);
    
 }
 
 .bioCard{
 width: 22rem;
 text-align: center;
 color: #fff;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .bioCard img{
     border-radius: 3%;
     width: fit-content;
 }