.body{
    overflow: hidden;
    box-sizing: border-box;
    margin:0;
    padding: 0px;
    width: 100%;
    min-height: 100vh;
    background: url("../photos/back.jpg") no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.intro1{
    width: 50vw;
    min-height: calc(100vh - 3rem);
    position: absolute;
    right: 0rem;
    background-image: linear-gradient(to right, rgb(0, 3, 21, 0.3), rgba(201, 98, 241, 0.4) , rgba(80, 220, 245, 0.5));
    opacity: 0.4;
    animation: introAnimation 2000ms linear 1000ms forwards 1;
}
/* .intro2{
    width: 50vw;
    min-height: calc(100vh - 3rem);
    position: absolute;
    right: 0rem;
    background-image: linear-gradient(to right, rgb(0, 3, 21, 0.3), rgba(201, 98, 241, 0.4) , rgba(80, 220, 245, 0.5));
    opacity: 0.4;
    animation: introAnimation 1000ms linear 2000ms forwards 1;
}
 .intro3{
    width: 50vw;
    min-height: calc(100vh - 3rem);
    position: absolute;
    right: 0rem;
    background-image: linear-gradient(to right, rgb(0, 3, 21, 0.3), rgba(201, 98, 241, 0.4) , rgba(80, 220, 245, 0.5));
    opacity: 0.4;
    animation: introAnimation 1000ms linear 3000ms forwards 1;
} */
.intro4{
    width: 50vw;
    min-height: calc(100vh - 3rem);
    position: absolute;
    right: 0rem;
    background-image: linear-gradient(to right, rgba(80, 220, 245, 0.3), rgba(201, 98, 241, 0.4) , rgba(5, 38, 44, 0.5));
    opacity: 0;
    animation: intro4Animation 200ms ease-in 4000ms forwards 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

@keyframes introAnimation{
  
    0%{
        right: 0;
        opacity: 0.4;
    }
    100%{
        right: 50vw;
       opacity: 0.6;
    }
}
@keyframes intro4Animation{
  
    0%{
        opacity: 0;
    }
    100%{
        opacity:1;
       
    }
}

@media (max-width:805px) {

.intro1{
  display: none;
}
.intro4 {
    width: 100vw;
    min-height: calc(100vh - 3rem); 
    animation: intro4Animation 200ms ease-in 1000ms forwards 1;
   
}   

}