.navbar{
 margin-top: 0px;
box-shadow:  0px 2px 2px  rgb(187, 98, 223);

 margin-top: 0px;
 display: flex;
 justify-content: space-around;
 align-items: center;
 height: 3rem;
}

.link{
    color: rgb(255, 254, 255);
    text-decoration: none;
    font-family: cursive,fantasy, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
}
.link:hover{
   color:rgb(26, 201, 245);
}
.social>*:hover{
 border-bottom: 1px solid bisque;
}

.dropdown{
    display: none;
}
@media (max-width:805px) {
    .link{
        display: none;
    }
    .dropdown{
        display: block;
    }
}